body {
  max-width: 800px;
  margin: auto;
  padding: 20px;

  background-color: #eef4d4;

  font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5 {
  color: #9f9fed;

  border-bottom: 2px solid;
  padding-bottom: 10px;
}

p {
  color: #1b1725;
}

img {
  max-width: 100%;
}

.border {
  border: 2px solid #9f9fed;
}

.social-img {
  width: 25%;
  padding-left: 3%;
  padding-right: 3%;
}

.fun-header {
  animation-name: fun-header;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes fun-header {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
  }
}

.fun-button {
  transition: transform 0.1s ease;
}

.fun-button:hover {
  transform: rotate(20deg);
}

img {
  max-width: 100%;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
}

.testimonial {
  padding: 20px;
  margin: 10px;
  background-color: lightgray;
  border: 1px solid #ddd;
  transition: all 0.5s;
}

.testimonial-1 {
    flex-grow: 1;
}
.testimonial-2 {
    flex-grow: 2;
    
}
.testimonial-3 {
    flex-grow: 1;
}

.testimonial:hover {
  /* flex-grow: 1.1; */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

#projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.project-item {
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    background-color: rgb(235, 214, 176);
    width: 25%;
  
    animation-name: shimmer;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes shimmer {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1vh);
      filter: drop-shadow(5px 5px 5px #4444dd);
    }
    100% {
      transform: translateY(0);
    }
  }

@media only screen and (orientation: portrait) {
    .project-item {
        width: 100%;
    }
}

@keyframes fun-header {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% { }
}

.fun-button {
    transition: transform 0.1s ease;
}

.fun-button:hover {
    transform: rotate(20deg);
}
